
/*
Sidans färger:

    #FFAA00 = Orange (header och footer)
    #009999 = Grönblå (navbar)
    #E5FFFF = Ljusblå (bakgrund)

*/


/******** Gemensamma stilar ********/

*, html {
    margin: 0;
    padding: 0.3em;
    /*Här tvingar jag browsern att visa sidan med noll marginal*/
}
body {
    background-color: #E4E4E4;
    font-family: Verdana, Times, sans-serif;
    color: #000000;
}

a:link {
    text-decoration: none;
}

/******** Container ****************/

#container {
    width: 1200px;
    margin: 0 auto;
    background-color: #E5FFFF;
}

/******** Header *******************/

#header {
    background: #FFAA00;
}

#bigheadline {
    position: relative;
    left: 12em;
    top: 7em;
    font-size: 250%;
}

/******** Navbar *******************/

#navbar {
    background: #009999;
    float: left;
    width: 12em;
    height: 80em;
}

#navbar li {
    list-style: none;
}

#navbar a {
    display: block;
}

#startlink:hover, #lablink:hover, #preslink:hover, #conlink:hover {
    color: black;
    background-color: #E5FFFF;
}

.active {
    background-color: #007979;
}

#navbar {
    background-image: url('pics/htmllogo.png');
    background-repeat: no-repeat;
    float: left;
    background-position: left bottom;
}

/******** Content ******************/

#content {
    background: #E5FFFF;
    float: left;
    width: 62em;
    margin: 0;
    padding: 3em 4em 2em 2em;
    font-size: 0.75em;
}

.marginleft {
    padding-left: 3em;
}

#content h2, h3 {
    padding-bottom: 0.75em;
    padding-top: 1em;
    border-bottom-style: dotted;
    border-width: 1px;
    border-color: #005E5E;
}

#content p {
    text-align: justify;
}

.resize {
    width: 75%;
    height: 75%;
}

.signature {
    font-size: 75%;
    float: right;
}

/******** Footer *******************/

#footer {
    background: #FFAA00;
    height: 5em;
    clear: both;
}

#footer p {
    text-align: center;
    margin: 0;
    padding-top: 1.5em; 
    padding-bottom: 3em;
}